KUDO_APP_DEPLOYMENTCONFIG_NAME=kudo-app
KUDO_APP_BUILDCONFIG_NAME=kudo-app
KUDO_APP_GITHUB_URI=https://github.com/dkelsey/python-flask-react-crud-example.git
KUDO_APP_GITHUB_REF=dev
DOCKERFILE_CONTEXT_DIR=app/http/app
KUDO_APP_IMAGESTREAM_NAME=kudo-app
IMAGESTREAM_TAG=latest
KUDO_APP_SERVICE_NAME=kudo-app
KUDO_APP_APP_NAME=kudo-app
KUDO_APP_ROUTE_NAME=kudo-app
KUDO_APP_HOSTNAME=kudo
DOMAIN_SUFFIX=pathfinder.gov.bc.ca
NAMESPACE=wvmyix-dev
