apiVersion: v1
data:
  database-admin-password: aGVsbG8=
  database-name: a3Vkb3M=
  database-password: a3Vkby1wYXNz
  database-user: a3Vkby11c2Vy
kind: Secret
metadata:
  annotations:
    template.openshift.io/expose-admin_password: '{.data[''database-admin-password'']}'
    template.openshift.io/expose-database_name: '{.data[''database-name'']}'
    template.openshift.io/expose-password: '{.data[''database-password'']}'
    template.openshift.io/expose-username: '{.data[''database-user'']}'
  creationTimestamp: null
  labels:
    app: mongodb-kudo
  name: mongodb
type: Opaque
